@media screen and (max-width: 320px) {
    .battery__card {
        zoom: 0.8;
    }
}

@media screen and (min-width: 430px) {
    .battery__card {
        width: 312px;
    }
}

@media screen and (min-width: 1024px) {
    .battery__card {
        zoom: 1.5;
    }
}
